.snakemake
*.o
*.log
*.pdf
*.png
*.txt

beam_on_status/beam_on_status

# ignore .root, but not the 2 calibration files
*.root 
!cal_fac_testbeam/cal.root 
!cal_pre/calibration_factor_run19/cal_run19.root

cal_pre/cal

make_cal_root.c
!cal_pre/calibration_factor_run19/make_cal_root.c

sum_signal1d/sum_signal1d
