.snakemake
*.o
*.log
*.pdf
*.png
*.txt



# ignore .root, but not the 2 calibration files
*.root 
!cal_fac_testbeam/cal.root 
!cal_pre/calibration_factor_run19/cal_run19.root

cal_pre/cal

make_cal_root.c
!cal_pre/calibration_factor_run19/make_cal_root.c


app/main
.vscode/